Body {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.5rem;
  width: 100%;
  overflow-x: hidden;
}
.parallax {
  background-image: url("./components/assets/main-background.jpg");
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.Navbar {
  background-color: rgba(34, 34, 34, 0.913);
  height: 65px;
  color: black;
  padding-right: 5%;
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
  /* position: fixed; Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index:1;
}

.Nav-options {
  justify-content: space-between;
}

.Item {
  margin-left: .7%;
  margin-right: .7%;
  padding: 0 1% 1% 1%;
  color: white;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  /* font-weight: 600; */
}

/* .item-border {
  border-right: 1px solid white;
} */

.Item:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  /* font-size: 1.2em; */
  border: 1px solid white;

  /* background-color: rgba(255, 255, 255, 0.872); */
}

.Logo {
  color: white;
  border: 5px solid white;
  display: flex;
  align-self: center;
  align-content: center;
  /* margin: 12px; */
  padding: .09%;
  margin-left: 1%;
  border-radius: 10%;
  /* text-align: center; */
}

.job-title {
  font-weight: 100;
  margin-top: -10%;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* justify-content: space-between; */
  /* flex-grow: 2; */
}

.image-side {
  display: flex;
  height: 500px;
  /* background-color: blue; */
  width: 100%;
  /* margin-right: -13%; */
  align-items: center;
  justify-content: center;
  /* flex-grow: 2; */
}


.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}

.carousel-container {
  /* background-color: rgba(255, 255, 255, 0.5); */
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.carousel {
  /* display: flex !important;
  align-items: center !important;
  justify-content: center !important; */
}

.test {
  /* background-color: rgba(253, 206, 206, 0.089); */
  width: 100vw;
}

.show-grid {
  width: 100%;
}

.profile-image {
  width: 30vw;
  /* margin: 12% 2% 2% 4%; */
  /* background: rgba(1, 1, 1, 0.336); */
}

.name {
  position: absolute;
  color: rgb(0, 0, 0);
  left: 3%;
  top: 7%;
  font-size: 6vw;
  font-weight: 900;
  /* -webkit-text-stroke: .01px white; */
}

.about-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 9% 4% 9% 4%;
  align-items: center;
  background-color: rgba(21, 21, 21, 0.913);
  /* background-image: url("https://cdn.pizap.com/pizapfiles/images/photo_backgrounds_textures_app04.jpg"); */
  color: rgb(255, 255, 255);
}

.about-name{
  font-size: 2em;
  font-weight: 900;
  /* justify-self: flex-start; */
  align-self: flex-start;
  margin-left: 5%;
}

.about-image {
  /* width: 60%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-text {
  width: 100%;
  padding-left: 13%;
  /* padding-left: 5%; */
}

.name-title {
  color: white;
  font-size: 140%;
  position: absolute;
  left: 41%;
  top: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  /* align-self: center; */
}

.main-name{
  font-weight: 900;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-main{
  border: 7px solid white;
  align-self: center;
  padding: 0 3% 0 3%;
  font-weight: 900;
  margin-bottom: 1px;
  border-radius: 10%;
}

.social-media{
  position: absolute;
  left: 10%;
  top: 82%;
  display: flex;
  justify-content: center;
  width: 20px;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  border-radius: 10%;
  padding: 0 5px 0 5px;
  margin: 5px;
  /* z-index: 1; */
}

.social-icons:hover {
  /* background-color: rgba(9, 208, 230, 0.913); */
  border: 1px solid white;
  
}

.bottom-nav {
  height: 7vh;
  background-color: rgba(34, 34, 34, 0.913);
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1vw;
  padding-right: 1vw;
}

.caption {
  background-color: rgba(0, 0, 0, 0.74);
  text-decoration: none;

}

.caption-text {
  color: white;
  font-weight: 700;
}

.caption-text:hover {
  /* text-decoration: none;
  color: white;
  border: 1px white solid; */
}

/* .overlay {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#1f1f1f56, #10c9c617);
  position: absolute;
  top: 104.5%;           
} */

.down-arrow {
  position: absolute;
  top: 74%;
  left: 45%;
  height: 20%;
  /* animation-duration: 2s;
  animation-iteration-count: infinite; */
}

.down-arrow-container {
  position: absolute;
  top: 84%;
  left: 45%;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.box {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
}
.bounce-6 {
    animation-name: bounce-6;
    animation-timing-function: ease;
}
@keyframes bounce-6 {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-1px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(1px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

@media (min-width: 1px) {
  .container{
    max-width: 100%;
  }
  .carousel-container{
    max-width: 100%;
  }
}

@media (max-width: 800px){
  .parallax {
    width: 115%;
    background-attachment: scroll;
  }

  .Navbar {
    flex-direction: column;
    justify-content: flex-start;
  }

  .down-arrow-container{
    left: 35%;
  }
}