Body {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 2em;
  background-image: url("http://hdqwalls.com/wallpapers/shanghai-city-hd-illustration-tu.jpg");
  background-size: 40em;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-position: center; */
}
.Navbar {
  background-color: rgba(68, 68, 68, 0);
  height: 65px;
  color: black;
  padding-right: 5%;
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
}

.Nav-options {
  justify-content: space-between;
}

.Item {
  margin-left: .7%;
  margin-right: .7%;
  color: white;
}

.Logo {
  padding-left: 1%;
}
